*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: orange;
}

/* dialog box*/

dialog::backdrop {
    background-color: rgba(226, 206, 28, 0.5);
}

dialog {
    position: relative;
    top: 20vh;
    left: 20vw;
    background-color: blueviolet;
    padding: 5px;
}

/*main page*/

button {
    display: flex;
    font-size: 100px;
    justify-content: center;
    align-content: center;
    width: 40rem;
    background-color: aquamarine;
    /*padding: 3rem;*/
    border-radius: 8%;
}

#instructions {
    font-size: 24px;
}

.close {
    font-size: 30px;
    padding: 1em;
    width: auto;
}

/*actual game styling*/

input {
    width: 20px;
    height: 20px;
}

.gameBox {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.front--box {
    border: 1px solid black;
    border-radius: 5%;
    width: 300px;
    height: 500px;
    background-color: lightcyan;
    padding-left: 5px;
}