@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Quicksand:wght@600&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* main overall styling across all screens*/

body {
    background: #D8F5FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    font-family: Poppins, sans-serif;
}

main {
    height: 80vh;
}

footer {
    display: flex;
    justify-content: space-between;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: Quicksand, sans-serif;
    font-size: 500%;
}

#finalScore {
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: Quicksand, sans-serif;
    font-size: 400%;
}

/* next four functions keep screen split consistently*/

.split {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100vw;
    height: 80%;
}

#split1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: left;
    width: 19vw;
}

#split2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    width: 59vw;
}

split3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: right;
    width: 19vw;
}

/* dialog box*/

dialog::backdrop {
    background-color: rgba(176, 226, 245, 0.7);
}

dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #D0D1F1;
    padding: 5px;
}

/*first page*/

/*#front {
    margin-top: 20vh;
}*/

button {
    display: flex;
    font-size: 60px;
    justify-content: center;
    align-content: center;
    width: 28rem;
    background-color: #CCFFC2;
    border-radius: 8%;
    margin: 5px;
}

#wantFirstTick {
    width: 25px;
    height: 25px;
}

#instructions {
    font-size: 16px;
}

.close {
    font-size: 30px;
    padding: 1em;
    width: auto;
}

/*actual game styling*/

input {
    width: 60px;
    height: 60px;
    font-size: 200%;
}

#dataFromArray {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

}

#rightButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smallCircle {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 200px;
    height: 140px;
    border-radius: 50%;
    font-size: 40px;
}

#image {
    height: 40vh;
}

.gameColumn {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    height: 10vh;
}

#images {
    max-width: 35vw;
    max-height: 40vh;
    padding: 5px;
}

#dess {
    font-size: 150%;
    top: 5px;
}

#hintys {
    font-size: 150%;
    top: 5px;
}

#score {
    visibility: hidden;
}

#gameBox {
    visibility: hidden;
    height: 1px;
}

#finalScore {
    visibility: hidden;
    height: 1px;
}

.in--game {
    visibility: hidden;
}

.fox {
    max-width: 45vw;
    max-height: 30vh;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}